.AppWelcome {
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(/bgWelcome.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
}

.welcome__title {
  font-size: 1.8rem;
  line-height: 2rem;
  margin: 2% auto;
  text-align: center;
}
.welcome__title_unregister {
  color: rgb(209, 1, 29);
}

.welcome__title_register {
  color: rgb(19, 235, 66);
}

.welcome__greeting {
  font-size: 1.6rem;
  line-height: 1.7rem;
  font-style: italic;
  margin-bottom: 1rem;
}

.welcome__members {
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-style: bold;
  margin-bottom: 1rem;
}

.welcome__info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__editor {
  margin: 20px 0;
  width: 30%;
  padding: 8px 15px;
  background-color: rgba(33, 255, 162, 0.8);
  border: none;
  border-radius: 10px;
  text-decoration: none;
  transition: all ease 0.3s;
}

.button__editor:hover,
.button__editor:target,
.button__editor:focus {
  background-color: rgba(33, 255, 162, 1);
  cursor: pointer;
  transform: scale(1.03);
}

.welcome__stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome__stack_title {
  text-align: center;
  font-family: 'Roboto', Verdana, sans-serif;
  font-size: 2rem;
  line-height: 2.2rem;
  font-style: italic;
  color: #47ff9a;
  margin-bottom: 2%;
}

.welcome__stack_logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 1%;
}

.welcome__stack_image {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 10px;
  transition: all ease 0.4s;
}

.welcome__stack_image:hover,
.welcome__stack_image:target,
.welcome__stack_image:focus {
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: 0px 0px 22px 5px rgba(212, 121, 121, 0.75);
  border-radius: 12px;
}

@media screen and (max-width: 950px) {
  .welcome__title {
    font-size: 1.7rem;
    line-height: 1.9rem;
    width: 80%;
  }

  .welcome__greeting {
    font-size: 1.3rem;
    line-height: 1.3rem;
    width: 70%;
    margin-bottom: 0.8rem;
    text-align: center;
  }

  .welcome__members {
    font-size: 1.3rem;
    line-height: 1.3rem;
    width: 80%;
    text-align: center;
  }

  .welcome__stack_title {
    font-size: 1.7rem;
    line-height: 1.8rem;
    margin-bottom: 1%;
  }
}

@media screen and (max-width: 730px) {
  .welcome__stack_title {
    font-size: 1.5rem;
    line-height: 1.6rem;
  }
}

@media screen and (max-width: 600px) {
  .welcome__title,
  .welcome__greeting,
  .welcome__members {
    width: 90%;
  }

  .welcome__title {
    font-size: 1.4rem;
    line-height: 1.5rem;
  }

  .welcome__stack_title {
    font-size: 1.2rem;
    line-height: 1.3rem;
  }

  .button__editor {
    width: 80%;
  }
}

@media screen and (max-width: 390px) {
  .welcome__greeting {
    font-size: 1.1rem;
    line-height: 1.2rem;
  }

  .welcome__members {
    font-size: 1.1rem;
    line-height: 1.2rem;
  }
}

@media screen and (max-width: 321px) {
  .welcome__title {
    margin-top: 10px;
  }
}
