.display-text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
  box-shadow: 0px 2px 3px black;
  margin-top: 8px;
  padding: 4px;
  min-width: 200px;
}

.line{
  border-top: 1px solid#1976d2;
  width: 100%;
}